# Dependency directories
/node_modules

# Environment variables file
.env

# Editor directories and files
.vscode/
.idea/

# Log files
*.log

# macOS directory attributes
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# npm debug log files
npm-debug.log

# Coverage files
coverage/
